:root {
    color: turquoise;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:var(--times-new-roman);
    color: var(black)
}

.hero article{
    position: absolute;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    color: black;
}

h1 {
    font-family: var(Red);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: aquamarine;
    color: red;
}

.hero article img {
    float: right;
    width: 125;
}