* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: beige;
    padding: 1rem;
}

nav a {
    color: blue;
    padding: 1rem;
    display: block;
}

h1 {
    color: yellow;
}

.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

aside {
  width: 20em;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}



body {
    text-align: center;
    
}

main {
    max-width: 840px;
}

header {
    color: black;
    background-color: turquoise;
    padding: 10px;
    text-align: center;}

picture {
    float: center;
}


main img {
  /* you most likely will have other CSS declarations here */
  width: 150px;
  height: auto;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 10px;
  box-shadow: 1px;
  float: right;
}

p { padding: 0;
}





footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class selectors */
.my-class {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: aqua;
}