* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: beige;
    padding: 0.5rem;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: blue;
    padding: 1rem;
    display: block;
    
}

h1 {
    color: yellow;
    border-bottom: #000;
}

.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

aside {
  width: 20em;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  background-color: #eee;
  color: #333;
  text-align: center;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}



aside img {
    width: 200px;
    height: auto;
    justify-content: center;
}

.grid {
    display: grid;
    align-items: center;
}

body {
    text-align: center;
    
}

main {
    max-width: 840px;
    justify-content: center;
    grid-column: 2/3;
    margin: 1rem;
}

header {
    color: black;
    background-color: turquoise;
    padding: 10px;
    text-align: center;}

picture {
    justify-content: center;
}


main img {
  /* you most likely will have other CSS declarations here */
  width: 150px;
  height: auto;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 10px;
  float: right;
}

p { 
    padding: 0;
}


header, footer {
    width: 840px;
    justify-content: center;
}


footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class selectors */
.my-class {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: aqua;
}