header {
    color: black;
    background-color: turquoise;
    padding: 10px;
    text-align: center;
    
}

main {
    max-width: 840px;
    margin: 0 auto;
    float: center;
}

body {
    text-align: center;
    width: 840px;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
    
}

img {
    width: 200px;
    height: auto;                        
}

picture {
    float: center;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}