header {
    background-color: gray;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    width: 400px;
    margin: 0 auto;
    float: center;
}

picture {
    float: center;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
    height: 0 auto;
}

section {
    background-color: lightgrey;
    text-align: center;
}

footer {
    text-align: center;
}